<div class="otto-page-title">
  <h3><i class="fab fa-connectdevelop"></i> Edit Satellite</h3>
</div>
<div class="otto-list-wrapper" *ngIf="editingSat">
  <div class="form-group">
    <label>Satellite Name</label>
    <input type="email" class="form-control input-lg" placeholder="Enter name" [(ngModel)]="editingSat.name">
  </div>
  <div class="form-group">
    <label>Select Group</label>
    <select class="form-control input-lg" [(ngModel)]="selectedGroup">
      <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
    </select>
  </div>
</div>
<div class="action-buttons">
  <button class="btn btn-default btn-lg blue-text" (click)="saveClicked()">
    <i class="fas fa-check"></i>
    Save
  </button>
  <button class="btn btn-default btn-lg" (click)="cancelClicked()">
    <i class="fas fa-times"></i>
    Cancel
  </button>
</div>
