<div class="otto-page-title">
  <h3>Groups</h3>
</div>
<div class="otto-list-wrapper">
  <div class="otto-list-wrapper-inner" *ngIf="model">
    <div class="otto-list-group" *ngFor="let group of model.groups">
      <div class="list-group-title">
        <div class="group-title-title">
          {{group.name}}
        </div>
        <div class="group-title-subtitle">
          {{group.id}}
        </div>
      </div>
      <div class="list-group-actions">
        <button class="btn btn-default btn-lg" (click)="toggleLightsForGroupClicked(group)">
          <span *ngIf="group.status.lights.status === OttoObjectStatus.On">
            <i class="fas fa-lightbulb"></i> Turn Lights Off
          </span>
          <span *ngIf="group.status.lights.status === OttoObjectStatus.Off">
            <i class="far fa-lightbulb"></i> Turn Lights On
          </span>
        </button>

        <button class="btn btn-default btn-lg" (click)="motionOffClicked(group.id)" *ngIf="group.status.motion.status === OttoObjectStatus.On">
          <i class="fas fa-eye"></i> Turn Motion Off
        </button>
        <button class="btn btn-default btn-lg" (click)="motionOnClicked(group.id)" *ngIf="group.status.motion.status === OttoObjectStatus.Off || group.status.motion.status === OttoObjectStatus.OffTemporarily">
          <i class="fas fa-eye"></i> Turn Motion On
        </button>
        <button class="btn btn-default btn-lg" (click)="motionOnTempClicked(group.id)" *ngIf="group.status.motion.status === OttoObjectStatus.On">
          <i class="fas fa-clock"></i> Turn Motion Off Temporarily
        </button>
      </div>

      <h5 *ngIf="group.lights && group.lights.length">Lights</h5>
      <div class="inner-group-list-wrapper">
        <div class="otto-list-item-wrapper" *ngFor="let light of group.lights" (click)="lightClicked(light)">
          <div class="list-item-top">
            <div class="list-item-top-left">
              <div class="top-left-left dark-orange">
                <i class="far fa-lightbulb"></i>
              </div>
              <div class="top-left-right">
                <div class="list-item-title">
                  {{light.name}}
                </div>
                <div class="list-item-subtitle">
                  {{light.id}}, {{light.type}}
                </div>
              </div>
            </div>
            <div class="list-item-top-right">
              <span class="light-span bold">Light</span>
            </div>
          </div>
        </div>
      </div>

      <h5 *ngIf="group.satellites && group.satellites.length">Satellites</h5>
      <div class="inner-group-list-wrapper">
        <div class="otto-list-item-wrapper" *ngFor="let satellite of group.satellites" (click)="satelliteClicked(satellite)">
          <div class="list-item-top">
            <div class="list-item-top-left">
              <div class="top-left-left blue">
                <i class="fab fa-connectdevelop"></i>
              </div>
              <div class="top-left-right">
                <div class="list-item-title">
                  {{satellite.name}}
                </div>
                <div class="list-item-subtitle">
                  {{satellite.id}}
                </div>
              </div>
            </div>
            <div class="list-item-top-right">
              <span class="light-span bold">Satellite</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="action-buttons">
  <div class="actions-title">
    Actions
  </div>
  <button class="btn btn-default btn-lg" (click)="addGroupClicked()">
    <i class="fas fa-plus"></i>
    Add Group
  </button>
  <button class="btn btn-default btn-lg" (click)="scanLightsClicked()">
    <i class="fas fa-eye"></i>
    Scan Lights
  </button>
  <button class="btn btn-default btn-sm" style="margin-top: 2rem" (click)="updateSatellitesClicked()">
    Update Satellites
  </button>
</div>
