<div class="otto-page-title">
  <h3>Groups</h3>
</div>
<div class="otto-list-wrapper">
  <div class="otto-list-wrapper-inner" *ngIf="model">
    <div class="otto-list-group" *ngFor="let group of model.groups">
      <div class="list-group-title">
        <div class="group-title-title">
          {{group.name}}
        </div>
        <div class="group-title-subtitle">
          {{group.id}}
        </div>
      </div>
      <div class="inner-group-list-wrapper">
        <div class="otto-list-item-wrapper" *ngFor="let light of group.lights" (click)="lightClicked(light)">
          <div class="list-item-top">
            <div class="list-item-top-left">
              <div class="top-left-left dark-orange">
                <i class="far fa-lightbulb"></i>
              </div>
              <div class="top-left-right">
                <div class="list-item-title">
                  {{light.name}}
                </div>
                <div class="list-item-subtitle">
                  {{light.id}}, {{light.type}}
                </div>
              </div>
            </div>
            <div class="list-item-top-right">
              <span class="light-span bold">Light</span>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-group-list-wrapper">
        <div class="otto-list-item-wrapper" *ngFor="let satellite of group.satellites" (click)="satelliteClicked(satellite)">
          <div class="list-item-top">
            <div class="list-item-top-left">
              <div class="top-left-left blue">
                <i class="fab fa-connectdevelop"></i>
              </div>
              <div class="top-left-right">
                <div class="list-item-title">
                  {{satellite.name}}
                </div>
                <div class="list-item-subtitle">
                  {{satellite.id}}
                </div>
              </div>
            </div>
            <div class="list-item-top-right">
              <span class="light-span bold">Satellite</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="action-buttons">
  <div class="actions-title">
    Actions
  </div>
  <button class="btn btn-default btn-lg" (click)="addGroupClicked()">
    <i class="fas fa-plus"></i>
    Add Group
  </button>
  <button class="btn btn-default btn-lg">
    <i class="fas fa-eye"></i>
    Scan Lights
  </button>
</div>
