.app-comp-wrapper {
  padding-bottom: 3rem;

  .app-header {
    background: #00519f;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
  }

}
.router-wrapper {
  padding: 0.5rem;
}
