html {
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #e0e0e0;
  height: 100%;
}

a {
  text-decoration: none;
  line-height: inherit;
}
a img {
  border: none;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

.light-span {
  color: rgba(0,0,0,0.4);
  &.bold {
    font-weight: bold;
  }
}


.otto-page-title {
  h3 {
    font-weight: bold;
  }
}

.ui-slider-handle {
  border-radius: 50% !important;
  background: white !important;
  left: -0.2rem !important;
}


.otto-list-wrapper {
  padding: 1rem;

  .otto-list-wrapper-inner {

    .list-group-actions {
      display: flex;
      flex-direction: column;
    }

    .otto-list-group {
      background: rgba(0,0,0,0.06);
      border-radius: 0.5rem;
      padding: 1rem;
      &:not(:first-child) {
        margin-top: 2rem;
      }

      .list-group-title {
        padding-bottom: 1rem;
        padding-top: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .group-title-title {
          font-size: 1.6rem;
          font-weight: bold;
        }

        .group-title-subtitle {
          font-size: 1.2rem;
          color: rgba(0,0,0,0.5);
        }
      }

      .inner-group-list-wrapper {

        .otto-list-item-wrapper {
          margin-bottom: 1rem;
          background: white;
          padding: 1.3rem;
          border-radius: 0.2rem;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

          .list-item-top {
            display: flex;
            justify-content: space-between;

            .list-item-top-left {
              display: flex;

              .top-left-left {
                padding-right: 1.3rem;
                font-size: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                &.dark-orange {
                  color: #8c5500;
                }
                &.blue {
                  color: #00378c;
                }
              }

              .list-item-title {

              }

              .list-item-subtitle {
                font-size: 1.2rem;
                color: rgba(0,0,0,0.6);
              }
            }

            .list-item-top-right {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.action-buttons {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.actions-title {
  padding-bottom: 1rem;
  padding-top: 0.8rem;
  font-size: 1.6rem;
}
.blue-text {
  color: #00519f
}
