<div class="master-board-page-wrapper">

  <div class="header">
    <span [hidden]="activeTab !== 'write'">Write to Board</span>
    <span [hidden]="activeTab !== 'saved'">Saved Messages</span>
    <span class="ip-detail">{{boardIp || '000.000.000.000'}}</span>
  </div>

  <div class="color-picker-wrapper" [hidden]="activeTab !== 'write'" [style.opacity]="showColor ? 1 : 0">
    <div class="color-picker">

      <div id="slider-horiz" style="height: 200px; width: 16px;"></div><br />
      <a href="#colored_sketch" id="box" data-color="" [hidden]="!touchingSlider"></a>

    </div>
  </div>

  <div class="middle-bit">

    <div *ngIf="activeTab === 'write'" class="writer-wrapper" [style.width]="showColor ? '94%' : '100%'">
      <div class="preview-area">
        <div class="preview-area-placeholder" *ngIf="!textAreaContent">Preview Area</div>
        <div *ngFor="let row of friendlyTextAreaWithData">
          <div style="display: inline-block" *ngFor="let val of row" [style.color]="'rgb(' + val.color[0] + ',' + val.color[1] + ',' + val.color[2] + ')'" [style.margin-right]="val.character === ' ' ? '0.5rem' : 0">
            {{val.character}}
          </div>
        </div>
      </div>
      <div class="text-area-wrapper">
        <textarea name="" (focus)="showColor = true" cols="30" rows="4" [(ngModel)]="textAreaContent" (ngModelChange)="textAreaChanged($event)" placeholder="Type your message here"></textarea>
      </div>
      <div class="buttons-wrapper">
        <button (click)="sendClicked()" class="btn btn-default btn-lg btn-primary send-button" [disabled]="!textAreaContent">Send</button>
        <button (click)="saveClicked()" class="btn btn-default btn-lg save-button" [disabled]="!textAreaContent">Save</button>
      </div>
    </div>
    <div *ngIf="activeTab === 'saved'" style="padding: 1rem;">
      <div *ngFor="let data of friendlySavedDatas" (click)="applySave(data)" class="preview-saved-row">
        <div *ngFor="let row of data">
          <div style="display: inline-block" *ngFor="let val of row" [style.color]="'rgb(' + val.color[0] + ',' + val.color[1] + ',' + val.color[2] + ')'" [style.margin-right]="val.character === ' ' ? '0.5rem' : 0">
            {{val.character}}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="bottom-bit">
    <div class="tabs">
      <div class="tab" [class.active]="activeTab === 'write'" (click)="changeActiveTab('write')">
        Writer
      </div>
      <div class="tab" [class.active]="activeTab === 'saved'" (click)="changeActiveTab('saved')">
        Saved
      </div>
    </div>
  </div>

  <!--Saved will also have clock button-->

</div>
